
html {
  font-size: 62.5%;
}

html,body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.root {
  width: 100%;
}

.container {
  display: inline-block;
  height: 50%;
  margin: 5rem 30%;
}

.container div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.container label {
  display: block;
  font-size: 2rem;
  color: lightseagreen;
}
.container button {
  /* margin: 1rem 1rem; */
  padding: 1rem;
  width: 10rem;
  height: 4rem;
  background-color: magenta;
  border: none;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
}

.container textarea {
  height: 8rem;
  width: 45rem;
  border: solid darkgrey;
  border-radius: 0.5rem;
  padding: 0;
}

.container textarea[type="text"] {
  padding-inline: -1px;
  display: start;
  padding: 0 0 5rem 0;
  font-size: 2rem;
  color: darkslategray;
  overflow-x: scroll;
}